@font-face{
    font-family: 'Avenir';
    src: url('./fonts/Avenir-Medium.woff2');
    font-weight: 500;
}

@font-face{
    font-family: 'Avenir';
    src: url('./fonts/Avenir-Black.woff2');
    font-weight: 900;
}

@font-face{
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica-Bold.ttf');
}

html {
    overflow-x: hidden;
    font-family: Avenir, sans-serif;
}
body {
    display: block;
}
header {
    max-width: 1117px;
    margin: 0 auto;
}
.topheader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

nav {
    display: block;
    flex-wrap: wrap;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    width: 322px;
    height: 30px;
    margin-left: 121px;

    color: #4b5d68;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}
#About {
    font-weight: bold;
}
.nav_item {
    cursor: pointer;
}
.nav_item:hover {
    color: #9C69E2;
    text-decoration: underline;
}

.request_demo {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    color: #212353;
    border: none;
    margin-left: auto;
}
.request_demo:hover {
    background: #F063B8;
    color: ivory;
    
}
.botheader { 
    width: 100%;
    margin-top: 145px;
    flex-wrap: wrap;
    position: relative;
    z-index: 20;
}
.botheader_titile {
    width: 645px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    
    display: flex;
    align-items: center;
    
    color: #212353;
}
.botheader_subtitle {
    width: 380px;
    margin-top: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;
}
.learn_more {
    width: 170px;
    height: 60px;
    margin-top: 50px;

    background: #9C69E2;
    border-radius: 50px;
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;

    color: #FFFFFF;
}

.learn_more:hover {
    background: white;
    border: 1px solid #9C69E2;
    color: #9C69E2;
}

.botheader_img {
    width: 800px;
    height: 420px;
    background: url(./images/botheader_img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 337px;
    top: 130px;
}
.about_wrapper {
    max-width: 1117px;
    margin: 150px auto;
    margin-top: 270px;
    display: flex;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    padding-right: 93px;
}
.about_title{
    margin-top: 125px;
    font-weight: bold;
    font-size: 40px;
    color: #212353;
    width: 475px;
    height: 100px;
}
.about_subtitle {
    width: 474px;
    height: 170px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;
    margin-top: 40px;
}

.wrapper_bg {
    min-width: 477px;
    height: 504px;
    background: url(./images/about_img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 62px;
}

.fetures_wrapper {
    max-width: 1117px;
    margin: 0 auto;
}

.features_title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    text-align: center;

    color: #212353;
}

.features_subtitle {
    width: 584px;
    margin: 50px auto;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    text-align: center;

    color: #4B5D68;
}

.features_items {
    margin:150px auto;
    display: flex;
    flex-wrap: wrap;

    max-width: 1117px;
    align-items: center;
    justify-content: space-between;
}
.feature_item{
    max-width: calc(50% - 50px);
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}
.feature_description{
    margin-left: 30px;
}

.fheader {
    width: 200px;
    height: 50px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: #212353;
}
.ftext{
    width: 220px;
    height: 160px;
    color: #4B5D68;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}
.fbtn{
    display: flex;
    margin-top: 20px;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #212353;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    cursor: pointer;
}
.fbtn:hover {
   background-color: #F063B8;
   color: ivory;
   border-radius: 50px;

}
.fimg {
    margin-left: 20px;
}

.feature_img{
    width: 232px;
    height: 211px;
}
.testimonials_wrapper {
    max-width: 1118px;
    height: 709px;
    background-color: #9C69E2;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
}

.testimonials {
    max-width: 950px;
    min-height: 450px;
    
}
.testheader{
    width: 405px;
    height: 52px;
    padding-top: 109px;
    padding-left: 93px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.test_info{
    display: flex;
    position: absolute;
    width: 949px;
    height: 330px;
    margin-top: 88px;
    margin-left: 93px;

    background: #FFFFFF;
    box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.photo{
    margin-top: 60px;
    margin-left: 103px;
}
.info {
    width: 566px;
    margin-top: 60px;
    margin-left: 44px;
}
.tinfo_title {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;


    color: #212353;
}
.wordfaang {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #9C69E2;
}
.tinfo_subtitle {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;

    color: #4B5D68;
    margin-top: 20px;
}
.tslider {
    display: flex;
    justify-content: space-between;
    padding-top: 480px;
    width: 940px;
    margin-left: 93px;
}

hr {
    width: 100%;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;
    margin-top: 150px;
}
.try_for_free {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1117px;
    margin: 0 auto;
    margin-top: 100px;
}
.try_title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;


    display: flex;
    align-items: center;

    color: #212353;
}

.try_subtitle{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;
    margin-top: 20px;
}

.try_learnmore{
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}
.try_learnmore:hover{
    background: white;
    color: #9C69E2;
    border: 1px solid #9C69E2;
}


.try_request_demo{
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px; 
    border: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;

    color: #212353; 

}
.try_request_demo:hover {
    background: #9C69E2;
    color: white;
}
footer {
    padding-top: 153px ;
    width: 1117px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer_item {
    display: flex;
    align-items: center;
}
.contact_title {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;

    color: #212353;
    padding-left: 20px;
}
.contact_subtitle {
    margin-top: 67px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;

    letter-spacing: 0.01em;

    color: #212353;
    width: 335px;
    height: 65px;
}
.contact_mail,
.contact_phone {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;

    letter-spacing: 0.01em;

    color: #212353;
    width: 335px;
}
.copyright {
    margin-top: 120px;
    width: 360px;
    height: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #212353;
}
.link_img{
    background-color: #F063B8;
    border-radius: 50px;
    opacity: .5;
}
.link_img:hover {
    background-color: #9C69E2;
    border-radius: 50px;
    opacity: 1;
}
.help_list,
.smedia_links,
.about_list{
    margin-top: 30px;
}
.list_item{
    padding: 10px 0;
}
.footer_item_title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;

    color: #212353;
    text-decoration: none;
}
a{ font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    color: #212353;
    text-decoration: none;
}
a:hover {
    color:  #F063B8; 
    text-decoration: underline;
}